* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.master_admin {
    font-weight: bold;
    font-size: larger;
    float: left;
    padding: 2vh;
}

.nab {
    background-color: #3c8dbc;
    color: #daf9e8;
    font-size: 130%;
    list-style-type: none;
    overflow: hidden;
    width: 100%;

    display: block;
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    overflow: hidden;
    display: inline;
}

.admin {
    float: right;
    padding: 2vh;
    color: #daf9e8;
    font-size: large;
    font-weight: 600;
}

.admin img,
.item img,
.Dashbord_text img {
    vertical-align: middle;
    height: 20px;
    margin-right: 10px;
}

.admin:hover,
.item:hover {
    background-color: #171c1e;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease all;
    margin: 5px;
    padding: 10px;
}

.Dashbord_text {
    background-color: #171c1e;
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;

}

.sidebar {
    background-color: #000000;
    color: aliceblue;
    display: inline-block;
    width: auto;
    height: 100vh;
}

#Dashboard {
    background-color: #222d31;
    padding: 10px;

}

#Dashboard p {
    margin: 40px;
    text-align: left;
    font-size: larger;
}


